<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Price Prediction</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Energy Prices</h1>
    <div style="width: 800px;"><canvas id="acquisitions"></canvas></div>

    <script type="module" src="/scripts/demo.js"></script>
</body>
</html>